.container {
  display: grid;
  grid-template-columns: auto repeat(9, 1fr);

  height: 100vh;
}
.mediaContainer {
  display: none;
  grid-template-columns: auto repeat(9, 1fr);
  height: 100vh;
}
.h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  text-shadow: 3px 3px 3px black;
  text-align: center;
}
.container1 {
  grid-column: span 4;

  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container2 {
  grid-column: span 6;

  display: grid;
  background-color: blue;
}
.settingsImage {
  align-self: flex-end;
  margin: 5px;
  position: absolute;
  top: 0;
}
.settingsIcon {
  position: relative;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 2px;
  background-color: grey;
  width: 65%;
  color: white;
  text-decoration: none;
  user-select: none;
  text-align: center;
  font-size: 25px;
  border: 4px solid black;
  border-radius: 20px;
  max-height: 15%;
  min-height: 12%;
}

.btn1 {
  display: none;
}
.btn2 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .link {
    padding: 2px;
    margin: 30px;
  }
  .settingsIcon {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .mediaContainer {
    display: grid;
  }
  .container {
    display: none;
  }
  .settingsImage {
    align-self: flex-start;
  }
  .btn1 {
    display: block;
  }
  .btn2 {
    display: block;
    align-self: flex-end;
    margin: 5px 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
  .container1 {
    justify-content: flex-start;
    grid-column: span 10;
  }

  .container2 {
    grid-column: span 10;
  }
  .link {
    font-size: 20px;
    padding: 2px;
    margin: 20px 0px 60px 0px;
  }
  .h1 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 20px;
  }
  .link {
    width: 95%;
    margin: 10px 0px 50px 0px;
  }
}
